@charset "UTF-8";
/*main.css */
#wrap { width: 100%; min-width: 1100px; height: auto; background-color: #f2f4f7; }

#headBox { width: 100%; height: 180px; }

#upperhead { width: 100%; height: 130px; border-bottom: 1px solid #f1f3f6; box-sizing: border-box; background-color: #fff; }

.uphead_wrap { position: relative; width: 1080px; height: 100%; margin: auto; padding: 40px 0; box-sizing: border-box; }

.uphead_wrap #lnb { position: absolute; top: 10px; right: 0; width: auto; font-size: 11px; }

.uphead_wrap #lnb ul { width: auto; height: auto; }

.uphead_wrap #lnb ul li { float: left; margin-left: 10px; }

.uphead_wrap #lnb ul li a { display: block; width: 100%; height: 100%; }

#lnb ul li a:hover span, #lnb ul li a:focus span { font-weight: bold; }

#lnb ul li a:hover, #lnb ul li a:focus { outline: none; }

#lnb ul li:nth-child(1) a:hover, #lnb ul li:nth-child(1) a:focus { color: inherit; text-decoration: underline; }

#lnb ul li:nth-child(1) { width: 120px; }

#lnb ul li:nth-child(1) span { display: block; position: relative; left: 0; top: 0; z-index: 5; width: 0; height: 0; }

#lnb ul li:nth-child(1) span:before { content: " "; display: inline-block; position: absolute; top: -10px; left: 115px; border: solid #777; border-width: 0 1px 1px 0; padding: 2px; transform: rotate(-45deg); }

/* 쥬니어네이버 */
#lnb ul li:nth-child(2) a:hover span:nth-of-type(1), #lnb ul li:nth-child(2) a:focus span:nth-of-type(1) { color: #01589F; }

#lnb ul li:nth-child(2) a:hover span:nth-of-type(2), #lnb ul li:nth-child(2) a:focus span:nth-of-type(2) { color: #ED8A25; }

#lnb ul li:nth-child(2) a:hover span:nth-of-type(3), #lnb ul li:nth-child(2) a:focus span:nth-of-type(3) { color: #E14135; }

#lnb ul li:nth-child(2) a:hover span:nth-of-type(4), #lnb ul li:nth-child(2) a:focus span:nth-of-type(4) { color: #47A242; }

/* 해피빈 */
#lnb ul li:nth-child(3) a:hover span:nth-of-type(1), #lnb ul li:nth-child(3) a:focus span:nth-of-type(1) { color: #36AE4B; }

#lnb ul li:nth-child(3) a:hover span:nth-of-type(2), #lnb ul li:nth-child(3) a:focus span:nth-of-type(2) { color: #20983A; }

h1 { float: left; width: 190px; height: 50px; margin-right: 30px; }

h1 a { display: block; width: 100%; height: 100%; background: transparent url("../../img/naver_logo.png") no-repeat 50% 50%/contain; }

h1 a:hover, h1 a:focus { transform: scale(1.1); outline: none; }

.search_box { position: relative; float: left; width: 480px; height: 50px; border: 2px solid #00c73c; box-sizing: border-box; background-color: #fff; }

.search_box form { width: 405px; height: 100%; }

.search_box fieldset { width: 100%; height: 100%; }

.search_box input { width: 100%; height: 100%; border: none; font-size: 18px; }

.search_box input:hover, .search_box input:focus { background-color: #fff; outline: none; }

.keyboard { position: absolute; top: 15px; right: 30px; width: 20px; height: 20px; }

.keyboard button { display: block; width: 100%; height: 100%; background: transparent url("../../img/keyboard.png") no-repeat 50% 50%/contain; }

.keyboard button:hover, .keyboard button:focus { outline: none; transform: scale(1.1); }

.keyboard button.action { background: transparent url("../../img/keyboard_act.png") no-repeat 50% 50%/contain; outline: none; }

.autokey { position: absolute; top: 22px; right: 11px; width: 0px; height: 0px; border-top: 5px solid #00c73c; border-bottom: 5px none; border-right: 5px solid transparent; border-left: 5px solid  transparent; }

.autokey.action { transform: rotate(180deg); }

.autokey button { display: block; width: 15px; height: 15px; transform: translate(-50%, -50%); background-color: transparent; }

.autokey button:hover, .autokey button:focus { outline: none; }

.search_icon { float: left; width: 50px; height: 50px; background-color: #00c73c; }

.search_icon button { display: block; width: 100%; height: 100%; background: transparent url("../../img/search_icon.png") no-repeat 50% 50%/55% auto; }

.search_icon button:hover, .search_icon button:focus { background-size: 70% auto; outline: none; }

#lowerhead { width: 100%; height: 50px; background-color: #fff; border-bottom: 1px solid #d1d8e4; box-sizing: border-box; }

.lowhead_wrap { position: relative; width: 1080px; height: 100%; margin: auto; line-height: 50px; }

#gnb { width: 805px; height: auto; }

#gnb ul { float: left; height: auto; font-weight: bold; font-size: 16px; }

#gnb ul:first-of-type { width: 330px; color: #00c73c; }

#gnb ul:first-of-type li:nth-child(6) { text-transform: capitalize; }

#gnb ul:first-of-type li:nth-child(7) span { display: block; float: left; width: 15px; height: 15px; margin-top: 18px; background: url("../../img/tv_icon.png") no-repeat 50% 50%/contain; }

#gnb ul:nth-of-type(2) { width: 380px; }

#gnb ul li { float: left; margin-left: 7px; padding: 0 1px; }

#gnb ul li a:hover, #gnb ul li a:focus { outline: none; font-style: italic; }

#gnb .moreBtn { position: relative; float: left; width: 70px; height: auto; margin-left: 25px; }

#gnb .moreBtn:before { content: " "; position: absolute; top: 15px; left: -8px; width: 0; height: 18px; border-left: 1px solid #f1f3f6; }

#gnb .moreBtn button { display: block; float: left; width: 100%; height: 100%; margin-top: 14px; text-indent: -8px; background-color: transparent; color: inherit; font-size: 15px; font-weight: bold; }

#gnb .moreBtn button span { display: block; position: relative; left: 0; top: 0; z-index: 5; width: 0; height: 0; }

#gnb .moreBtn button span:before { content: " "; display: inline-block; position: absolute; top: -15px; left: 52px; border: solid #777; border-width: 0 1px 1px 0; padding: 3px; transform: rotate(40deg); }

.keyword { float: right; width: 200px; height: 30px; margin-top: 10px; margin-left: 30px; overflow: hidden; }

.keyword .keymore { display: block; position: relative; left: 0; top: 0; z-index: 5; width: 0; height: 0; }

.keyword .keymore:before { content: " "; display: inline-block; position: absolute; top: 10px; left: 180px; border: solid #777; border-width: 0 1px 1px 0; padding: 3px; transform: rotate(40deg); }

.keyword ol { position: relative; top: -49px; left: 0; width: 100%; height: auto; margin-top: -10px; }

.keyword ol li { width: 100%; height: 49px; line-height: 49px; }

.keyword ol li span { display: block; float: left; width: 22px; height: 49px; text-align: center; font-weight: bold; color: #00c73c; }

.keyword ol li p { float: left; width: 176px; height: 49px; }

#contentBox { width: 1100px; height: auto; min-height: 500px; margin: auto; }

#mainConts { float: left; width: 750px; height: auto; min-height: 500px; padding: 10px; box-sizing: border-box; }

.mainadv { position: relative; width: 100%; height: 120px; margin-top: 0; border: 1px solid #dee3eb; box-sizing: border-box; background-color: #fff; }

.mainadv a { display: block; width: 100%; height: 100%; padding: 10px; box-sizing: border-box; background: url("../../img/adv/main_adv.jpg") no-repeat 50% 50%/contain; }

.mainadv a:hover, .mainadv a:focus { background-size: 103% auto; outline: none; }

.mainadv a .smallvideo { position: relative; width: 180px; height: 100px; padding-top: 25px; box-sizing: border-box; background-color: rgba(51, 51, 51, 0.7); border: 1px #777 solid; }

.mainadv a .smallvideo.action { border: 1px #00c73c solid; }

.mainadv a .smallvideo > .load_start { display: block; width: 52px; height: 52px; margin: auto; border-radius: 50px; background: rgba(255, 255, 255, 0.5) url("../../img/btn_play.png") no-repeat 50% 50%/contain; }

.mainadv a .smallvideo > span { display: none; position: absolute; left: 90px; top: 50px; transform: translate(-50%, -50%); z-index: 5; width: 52px; height: 52px; margin: auto; border-radius: 50px; background-color: rgba(255, 255, 255, 0.7); line-height: 50px; text-align: center; font-weight: bold; color: #00c73c; box-shadow: 0 0 5px #fff; font-size: 35px; text-shadow: 0 0 10px #fff; }

.videopop { position: absolute; left: -52px; top: 20px; z-index: 10; width: 100px; height: 70px; font-size: 14px; text-align: center; padding: 15px 0; box-sizing: border-box; font-weight: bold; background: url("../../img/balloon.png") no-repeat 50% 50%/auto 90%; }

.videopop p:nth-of-type(2) { display: none; }

.videopop em { color: #00c73c; font-style: normal; }

.video { display: none; position: absolute; left: 0; top: 0; z-index: 5; width: 1080px; height: 600px; }

.video .videobtn { position: absolute; top: 10px; right: -50px; }

.newsbox { width: 100%; height: 300px; }

.keynews { width: 100%; height: 50px; margin-top: 10px; border: 1px solid #dee3eb; box-sizing: border-box; background-color: #fff; line-height: 50px; font-size: 14px; text-align: center; font-weight: bold; }

.keynews span { display: block; position: relative; left: 0; top: 0; z-index: 5; width: 0; height: 0; }

.keynews span:before { content: " "; display: inline-block; position: absolute; top: -27px; left: 76px; border: solid #777; border-width: 0 1px 1px 0; padding: 3px; transform: rotate(-45deg); }

/* $deg:-45deg, $top:-10px, $left:115px, $bw:1px, $p:2px */
.yhnews { float: left; width: 90px; height: 100%; padding-right: 10px; }

.yhnews a:hover, .yhnews a:focus { outline: none; text-decoration: underline; }

.yhconts { overflow: hidden; float: left; width: 390px; height: 100%; }

.yhconts ul { width: 100%; height: auto; }

.yhconts ul li { overflow: hidden; white-space: nowrap; text-overflow: ellipsis; width: 95%; height: 30px; margin-top: 10px; text-align: left; text-indent: 20px; line-height: 30px; }

.yhconts ul li a { display: block; width: 100%; height: auto; font-weight: normal; }

.yhconts ul li a:hover, .yhconts ul li a:focus { outline: none; text-decoration: underline; }

.yhcategory { float: right; width: 230px; height: 100%; }

.yhcategory li { float: left; margin-left: 10px; }

.yhcategory li a { color: #888; }

.yhcategory li a:hover, .yhcategory li a:focus { color: #333; outline: none; }

.yhcategory li:first-child a { color: #00c73c; }

.yhcategory li:first-child a:hover, .yhcategory li:first-child a:focus { text-decoration: underline; }

.catnews { width: 100%; height: 240px; margin-top: 10px; border: 1px solid #dee3eb; box-sizing: border-box; background-color: #fff; }

.menulist { width: 100%; height: 48px; }

.menulist .newsstand { width: 100px; padding-right: 5px; }

.menulist .newsstand span { display: block; position: relative; left: 0; top: 0; z-index: 5; width: 0; height: 0; }

.menulist .newsstand span:before { content: " "; display: inline-block; position: absolute; top: -27px; left: 88px; border: solid #777; border-width: 0 1px 1px 0; padding: 3px; transform: rotate(-45deg); }

.menulist .allpress { width: 80px; padding-right: 20px; text-align: left; }

.menulist .mynews { position: relative; text-transform: uppercase; color: #888; }

.menulist .mynews a:hover { text-decoration: none; color: #333; }

.menulist .mynews::after, .menulist .mynews:after { content: " "; width: 0; height: 30%; position: absolute; top: 0; bottom: 0; left: -17px; margin: auto; border: 1px solid #e8e9ec; }

.menulist > p { float: left; height: 48px; line-height: 48px; font-size: 14px; text-align: center; font-weight: bold; }

.menulist > p a:hover, .menulist > p a:focus { outline: none; text-decoration: underline; }

.menulist > div { float: right; height: 100%; }

.menulist > div.newsbtn { border-left: 1px solid #e8e9ec; }

.menulist > div.newsbtn .next { border-left: 1px solid #e8e9ec; width: 48px; }

.menulist > div.newsbtn .next span { display: block; position: relative; left: 0; top: 0; z-index: 5; width: 0; height: 0; }

.menulist > div.newsbtn .next span:before { content: " "; display: inline-block; position: absolute; top: -4px; left: 8px; border: solid #777; border-width: 0 2px 2px 0; padding: 5px; transform: rotate(-45deg); }

.menulist > div.newsbtn .prev span { display: block; position: relative; left: 0; top: 0; z-index: 5; width: 0; height: 0; }

.menulist > div.newsbtn .prev span:before { content: " "; display: inline-block; position: absolute; top: -4px; left: 14px; border: solid #777; border-width: 0 2px 2px 0; padding: 5px; transform: rotate(-225deg); }

.menulist > div.newsbtn button { display: block; width: 48px; height: 100%; background-color: transparent; color: #888; }

.menulist > div.newsbtn button:hover span:before { border: #00c73c solid; border-width: 0 2px 2px 0; padding: 5px; }

.menulist > div.newsset button { width: 40px; text-align: center; line-height: 48px; margin-right: 10px; background-color: transparent; font-size: 0.9rem; text-shadow: 0 0 1px #111; color: #fff; }

.menulist > div.newsset button:hover { color: #888; }

.menulist > div.newsmenu { line-height: 48px; }

.menulist > div.newsmenu button { width: 30px; height: 100%; font-size: 0.9rem; background-color: transparent; color: #dee3eb; margin-left: 2px; }

.menulist > div.newsmenu button:hover { color: #888; }

.menulist > div.newsmenu button.act { color: #777; }

.next { float: right; }

.newsimage { width: 100%; height: 192px; border-top: solid #fff 1px; }

.newsimage > li { position: relative; float: left; width: 120.5px; height: 62px; border-right: 1px solid #dee3eb; border-top: 1px solid #dee3eb; }

.newsimage > li:nth-child(6n) { border-right: none; }

.newsimage > li a { display: flex; width: 100%; height: 100%; }

.newsimage > li a:hover { outline: none; }

.newsimage > li a:hover .newshover { display: block; }

.newsimage > li a img { width: 70%; height: auto; margin: auto; }

.newsimage > li a .newshover { display: none; position: absolute; width: 100%; height: 100%; padding: 18px 12px; box-sizing: border-box; background-color: #f7f7f7; }

.newsimage > li a .newshover div { padding: 5px; border: 1px solid #cdcdcd; background-color: #fff; font-size: 0.75rem; }

.newsimage > li a .newshover .subscribe { float: left; }

.newsimage > li a .newshover .toread { float: left; border-left: none; }

.categbox { width: 100%; height: 900px; margin-top: 10px; border: 1px solid #dee3eb; box-sizing: border-box; background-color: #fff; }

.categbox .categbox_header { width: 100%; height: 45px; border-bottom: 1px solid #e8e9ec; }

.categbox .categmenu { float: left; width: 45px; height: 45px; border-right: 1px solid #e8e9ec; text-align: center; line-height: 45px; font-size: 1.25rem; color: #777; }

.categbox .categmenu a { display: block; width: 100%; height: 100%; }

.categbox .categmenu a:hover { outline: none; color: #333; }

.categbox .categlist { display: flex; float: left; }

.categbox .categlist li { float: left; }

.categbox .categbtn { float: right; }

.categbox .categbtn button { width: 45px; height: 45px; background-color: transparent; border-left: 1px solid #e8e9ec; }

.categbox .categbtn button:hover span:before { border: #00c73c solid; border-width: 0 2px 2px 0; padding: 5px; }

.categbox .categbtn .prev span { display: block; position: relative; left: 0; top: 0; z-index: 5; width: 0; height: 0; }

.categbox .categbtn .prev span:before { content: " "; display: inline-block; position: absolute; top: -5px; left: 12px; border: solid #777; border-width: 0 2px 2px 0; padding: 5px; transform: rotate(-225deg); }

.categbox .categbtn .next span { display: block; position: relative; left: 0; top: 0; z-index: 5; width: 0; height: 0; }

.categbox .categbtn .next span:before { content: " "; display: inline-block; position: absolute; top: -5px; left: 8px; border: solid #777; border-width: 0 2px 2px 0; padding: 5px; transform: rotate(-45deg); }

.textadv { width: 100%; height: 150px; margin-top: 10px; border: 1px solid #dee3eb; box-sizing: border-box; background-color: #fff; }

.textadv ul { width: 100%; height: 100%; padding: 30px 20px; box-sizing: border-box; }

.textadv ul li { float: left; width: 50%; height: 100%; font-size: 12px; }

.textadv ul li:nth-child(1) div { background: url("../../img/adv/textadv_01.jpg") no-repeat 50% 50%/contain; }

.textadv ul li:nth-child(2) div { background: url("../../img/adv/textadv_02.png") no-repeat 50% 50%/contain; }

.textadv ul li a { display: block; width: 100%; height: 100%; }

.textadv ul li a:hover, .textadv ul li a:focus { outline: none; }

.textadv ul li a:hover div, .textadv ul li a:focus div { background-size: 105%; }

.textadv ul li a:hover dl, .textadv ul li a:focus dl { text-decoration: underline; }

.textadv ul li div { float: left; width: 170px; height: 90px; }

.textadv ul li p { float: left; width: 155px; height: 25px; margin-left: 15px; margin-top: 5px; line-height: 25px; color: #00c73c; font-weight: bold; }

.textadv ul li dl { float: left; width: 155px; height: 60px; margin-left: 15px; }

.textadv ul li dl dt { font-weight: bold; font-size: 16px; }

.textadv ul li dl dd { margin-top: 5px; word-break: keep-all; }

#sideConts { float: right; width: 350px; height: auto; min-height: 500px; padding: 10px 10px 10px 0; box-sizing: border-box; }

.login { width: 100%; height: 120px; margin-top: 0; border: 1px solid #dee3eb; box-sizing: border-box; background-color: #fff; }

.login p { width: 280px; height: 30px; line-height: 30px; font-size: 12px; margin: 5px auto; color: #888; }

.login div { width: 280px; height: 40px; margin: auto; margin-bottom: 10px; background-color: #00c73c; text-align: center; line-height: 40px; color: #fff; border-radius: 5px; border: 1px solid #ddd; box-sizing: border-box; }

.login div a { display: block; width: 100%; height: 100%; font-weight: bold; font-size: 18px; }

.login div a:hover, .login div a:focus { font-size: 20px; color: #fff; outline: none; }

.login ul { width: 280px; height: 30px; margin: auto; box-sizing: border-box; font-size: 12px; }

.login ul li { float: left; }

.login ul li:nth-child(1) { position: relative; margin-right: 4px; }

.login ul li:nth-child(1):after { content: " "; display: block; position: absolute; top: 0; bottom: 0; margin: auto; left: 37px; width: 2px; height: 2px; border-radius: 2px; background-color: #777; }

.login ul li:nth-child(3) { float: right; }

.login ul li a:hover, .login ul li a:focus { color: inherit; text-decoration: underline; outline: none; }

.widget { width: 100%; height: 140px; margin-top: 10px; border: 1px solid #dee3eb; box-sizing: border-box; background-color: #fff; }

.widget .weatherwidget { width: 100%; height: 100%; }

.widget .weatherwidget .widgetheader { width: 100%; height: 34px; border-bottom: 1px solid #e8e9ec; line-height: 34px; font-size: 14px; text-align: center; }

.widget .weatherwidget .widgetheader p { float: left; margin-left: 20px; }

.widget .weatherwidget .widgetheader p a:hover { outline: none; text-decoration: underline; }

.widget .weatherwidget .widgetheader .today { position: relative; font-weight: bold; }

.widget .weatherwidget .widgetheader .today:after { content: " "; width: 0; height: 36%; position: absolute; top: 0; bottom: 0; right: -8px; margin: auto; border-left: 1px solid #dee3eb; }

.widget .weatherwidget .widgetheader .place { font-size: 12px; color: #888; margin-left: 16px; }

.widget .weatherwidget .widgetheader .place span { display: block; position: relative; left: 0; top: 0; z-index: 5; width: 0; height: 0; }

.widget .weatherwidget .widgetheader .place span:before { content: " "; display: inline-block; position: absolute; top: -19px; left: 105px; border: solid #777; border-width: 0 1px 1px 0; padding: 2px; transform: rotate(-45deg); }

.widget .weatherwidget .widgetheader div { float: right; }

.widget .weatherwidget .widgetheader .weatherbtn button { width: 33px; height: 33px; background-color: transparent; border-left: 1px solid #e8e9ec; }

.widget .weatherwidget .widgetheader .weatherbtn button:hover span:before { border: #00c73c solid; border-width: 0 1px 1px 0; padding: 3px; }

.widget .weatherwidget .widgetheader .weatherbtn .next span { display: block; position: relative; left: 0; top: 0; z-index: 5; width: 0; height: 0; }

.widget .weatherwidget .widgetheader .weatherbtn .next span:before { content: " "; display: inline-block; position: absolute; top: -3px; left: 4px; border: solid #777; border-width: 0 1px 1px 0; padding: 3px; transform: rotate(-45deg); }

.widget .weatherwidget .widgetheader .weatherbtn .prev span { display: block; position: relative; left: 0; top: 0; z-index: 5; width: 0; height: 0; }

.widget .weatherwidget .widgetheader .weatherbtn .prev span:before { content: " "; display: inline-block; position: absolute; top: -3px; left: 8px; border: solid #777; border-width: 0 1px 1px 0; padding: 3px; transform: rotate(-225deg); }

.widget .weatherwidget .widgetheader .catnum { padding-right: 10px; color: #888; }

.widget .weatherwidget .widgetheader .catnum span { color: #333; font-weight: bold; }

.widget .weatherwidget .widgetbody { width: 100%; height: 74px; }

.widget .weatherwidget .widgetbody a { display: block; width: 100%; height: 74px; padding: 10px; box-sizing: border-box; }

.widget .weatherwidget .widgetbody a:hover { outline: none; }

.widget .weatherwidget .widgetbody a:hover .tempicon { transform: scale(1.1); }

.widget .weatherwidget .widgetbody ul { width: 100%; }

.widget .weatherwidget .widgetbody ul li { float: left; margin-left: 10px; }

.widget .weatherwidget .widgetbody ul .tempicon { width: 56px; height: 56px; background: #ff0 url("../../img/ ") no-repeat 45% 100%/auto 100%; }

.widget .weatherwidget .widgetbody ul .tempinfo { width: 50px; line-height: 1; }

.widget .weatherwidget .widgetbody ul .tempinfo .tempcurrent { font-size: 12px; height: 33px; padding-bottom: 5px; }

.widget .weatherwidget .widgetbody ul .tempinfo .tempcurrent span { font-size: 30px; vertical-align: -13px; }

.widget .weatherwidget .widgetbody ul .tempinfo .temp { font-size: 14px; color: #888; }

.widget .weatherwidget .widgetbody ul .tempinfo .temp .templower { color: #1e96fc; margin-left: 5px; }

.widget .weatherwidget .widgetbody ul .tempinfo .temp .temphighter { color: #fe1a1a; margin-left: -2px; }

.widget .weatherwidget .widgetbody ul .textcurrent { font-size: 15px; font-weight: bold; padding-top: 10px; }

.widget .weatherwidget .widgetbody ul .dust { padding-top: 9px; font-size: 12px; }

.widget .weatherwidget .widgetbody ul .dust span { color: #1e96fc; }

.widget .weatherwidget .widgetfooter { width: 100%; padding-left: 20px; font-size: 12px; }

.widget .weatherwidget .widgetfooter p { float: left; }

.widget .weatherwidget .widgetfooter p:nth-of-type(1) { color: #1e96fc; margin-right: 10px; }

.widget .weatherwidget .widgetfooter p:nth-of-type(3) { position: relative; margin-left: 17px; color: #888; }

.widget .weatherwidget .widgetfooter p:nth-of-type(3):after { content: " "; width: 0; height: 70%; position: absolute; top: 0; bottom: 0; left: -8px; margin: auto; border-left: 1px solid #dee3eb; }

.widget .weatherwidget .widgetfooter a:hover { outline: none; text-decoration: underline; }

.sideadv { width: 100%; height: 150px; margin-top: 10px; border: 1px solid #dee3eb; box-sizing: border-box; background-color: #fff; }

.sideadv a { display: block; width: 100%; height: 100%; background-size: 100% auto; background-repeat: no-repeat; background-position: 50% 50%; }

.sideadv a:hover, .sideadv a:focus { background-size: 103% auto; outline: none; }

.shopping { width: 100%; height: 900px; margin-top: 10px; border: 1px solid #dee3eb; box-sizing: border-box; background-color: #fff; }

.shopping .shopping_header { width: 100%; height: 45px; border-bottom: 1px solid #e8e9ec; }

.shopping .shopping_header h6 { float: left; width: 80px; font-size: 14px; text-align: center; font-weight: bold; line-height: 45px; }

.shopping .shopping_header h6 a { display: block; width: 100%; height: 100%; }

.shopping .shopping_header h6 a:hover { font-size: 16px; outline: none; }

.shopping .shopping_header ul { float: right; font-size: 14px; text-align: center; font-weight: bold; text-transform: uppercase; line-height: 45px; }

.shopping .shopping_header ul li { position: relative; float: left; height: 100%; color: #888; padding-left: 5px; padding-right: 5px; margin-right: 5px; }

.shopping .shopping_header ul li.act a { color: #fb5a59 !important; }

.shopping .shopping_header ul li.act a::after { content: " "; position: absolute; bottom: 0; left: 0; width: 100%; height: 3px; background-color: #fb5a59; }

.shopping .shopping_header ul li a { display: block; width: 100%; height: 100%; }

.shopping .shopping_header ul li a:hover { color: #333; outline: none; }

.shopping .mall_list { height: 60px; border-bottom: 1px solid #e8e9ec; margin-left: 16px; margin-right: 16px; padding-top: 6px; box-sizing: border-box; }

.shopping .mall_list ul li { float: left; font-size: 12px; margin: 2px; padding: 2px 6px; position: relative; }

.shopping .mall_list ul li::after { content: "·"; position: absolute; top: 1px; right: -3px; }

.shopping .mall_list ul li:nth-child(6)::after { content: " "; }

.shopping .mall_list ul li:nth-child(7) { margin: 1px; padding: 2px 4px; }

.shopping .mall_list ul li:nth-child(8) { margin: 1px; padding: 2px 4px; }

.shopping .mall_list ul li:nth-child(9) { margin: 1px; padding: 2px 4px; }

.shopping .mall_list ul li:nth-child(10) { margin: 1px; padding: 2px 4px; }

.shopping .mall_list ul li:nth-child(11) { margin: 1px; padding: 2px 4px; }

.shopping .mall_list ul li:nth-child(12) { margin: 1px; padding: 2px 4px; }

.shopping .mall_list ul li:nth-child(12)::after { content: " "; }

.shopping .mall_list ul li a { display: block; width: 100%; height: 100%; }

.shopping .mall_list ul li a:hover { outline: none; text-decoration: underline; }

.footadv { width: 100%; height: 150px; margin-top: 10px; border: 1px solid #dee3eb; box-sizing: border-box; background-color: #fff; }

.footadv a { display: block; width: 100%; height: 100%; background-size: auto 100%; background-repeat: no-repeat; background-position: 45% 100%; }

.footadv a:hover, .footadv a:focus { background-size: auto 103%; outline: none; }

#footBox { width: 100%; height: auto; background-color: #fff; font-size: 14px; }

#footBox a:hover, #footBox a:focus { outline: none; text-decoration: underline; }

#upperfoot { width: 100%; height: 45px; border-top: 1px solid #d1d8e4; box-sizing: border-box; }

#upperfoot .upfoot_wrap { width: 1080px; height: 100%; margin: auto; line-height: 45px; }

#upperfoot .upfoot_wrap > div { float: left; }

#upperfoot .upfoot_wrap .notice { font-size: 14px; font-weight: bold; }

#upperfoot .upfoot_wrap .moreserv { float: right; margin-right: 20px; font-size: 14px; font-weight: bold; }

#upperfoot .upfoot_wrap .moreserv span { display: block; position: relative; left: 0; top: 0; z-index: 5; width: 0; height: 0; }

#upperfoot .upfoot_wrap .moreserv span:before { content: " "; display: inline-block; position: absolute; top: -26px; left: 105px; border: solid #777; border-width: 0 2px 2px 0; padding: 3px; transform: rotate(-45deg); }

#lowerfoot { width: 100%; height: 110px; border-top: 1px solid #f1f3f6; box-sizing: border-box; /* 650px */ }

#lowerfoot .lowfoot_wrap { width: 1080px; height: 100%; margin: auto; padding: 20px 0; box-sizing: border-box; }

#lowerfoot .naverper { float: left; width: 730px; height: 100%; }

#lowerfoot .naverper dl { width: 100%; height: 25px; }

#lowerfoot .naverper dl dt { float: left; width: 90px; text-transform: capitalize; font-size: 14px; font-weight: bold; }

#lowerfoot .naverper dl dd { float: left; position: relative; width: auto; color: #888; padding: 0 15px; font-size: 13px; line-height: 25px; }

#lowerfoot .naverper dl dd:first-of-type:after { display: none; }

#lowerfoot .naverper dl dd:after { content: " "; display: block; position: absolute; top: 0; bottom: 0; left: 0px; margin: auto; width: 0; height: 14px; border-right: 2px solid #e8e9ec; }

#lowerfoot .whale { position: relative; float: right; width: 200px; height: 100%; padding-left: 25px; box-sizing: border-box; }

#lowerfoot .whale:after { content: " "; display: block; position: absolute; top: 0; bottom: 0; left: 0; margin: auto; width: 0; height: 50px; border-right: 1px solid #e8e9ec; }

#lowerfoot .whale dl { position: relative; width: 100%; height: 100%; }

#lowerfoot .whale dl dt { font-weight: bold; }

#lowerfoot .whale dl .ftimg { position: absolute; top: 0; right: 25px; width: 60px; height: 60px; }

#lowerfoot .whale dl .ftimg a { display: block; width: 100%; height: 100%; background: url("../../img/whale_logo.png") no-repeat 50% 50%/auto 100%; }

#lowerfoot .whale dl .ftimg a:hover, #lowerfoot .whale dl .ftimg a:focus { transform: scale(1.1); }

#lowerfoot .whale dl dd { margin-top: 5px; color: #888; }

#lowerfoot .proj { position: relative; float: right; width: 150px; height: 100%; }

#lowerfoot .proj:after { content: " "; display: block; position: absolute; top: 0; bottom: 0; left: -8px; margin: auto; width: 0; height: 50px; border-right: 1px solid #e8e9ec; }

#lowerfoot .proj dl { position: relative; width: 100%; height: 100%; }

#lowerfoot .proj dl dt { font-weight: bold; text-indent: 15px; }

#lowerfoot .proj dl .ftimg { position: absolute; top: 0; right: 0; width: 60px; height: 60px; }

#lowerfoot .proj dl .ftimg a { display: block; width: 100%; height: 100%; background: url("../../img/project_logo.png") no-repeat 50% 50%/auto 100%; }

#lowerfoot .proj dl .ftimg a:hover, #lowerfoot .proj dl .ftimg a:focus { transform: scale(1.1); }

#lowerfoot .proj dl dd { text-indent: 15px; margin-top: 5px; color: #888; }

#fnb { width: 100%; height: 150px; padding: 25px 0; box-sizing: border-box; border-top: 1px solid #f1f3f6; }

#fnb .fnb_wrap { width: 1080px; height: 100%; margin: auto; }

#fnb ul { width: auto; margin: auto; color: #888; }

#fnb ul li { position: relative; float: left; margin-right: 20px; }

#fnb ul li:nth-child(5) { font-weight: bold; }

#fnb ul li:nth-child(1):after { display: none; }

#fnb ul li:after { content: " "; display: block; position: absolute; top: 0; bottom: 0; left: -10px; margin: auto; width: 0; height: 14px; border-right: 2px solid #e8e9ec; }

.copyright { font-weight: bold; text-transform: capitalize; }

.copyright span { text-transform: uppercase; }

.keypopup { display: none; position: absolute; top: 0; right: 0; z-index: 1020; width: 340px; height: 340px; background-color: #fff; border: 1px solid #d1d8e4; box-sizing: border-box; border-bottom: none; }

.keypopbox { width: 100%; height: 100%; padding: 15px; box-sizing: border-box; }

.keypopbox h3 { float: left; width: 50%; height: 20px; line-height: 20px; font-size: 15px; }

.keypopbox > p { float: left; width: 50%; height: 20px; line-height: 20px; text-align: right; font-size: 12px; color: #888; }

.keypopbox .oneto20 { position: relative; float: left; width: 100%; height: 270px; border-bottom: 1px solid #f1f3f6; }

.keypopbox .oneto20 li { float: left; width: 100%; height: auto; }

.keypopbox .oneto20 li:last-child dd { display: none; }

.keypopbox .oneto20 li:last-child dl { margin-top: 0; }

.keypopbox .oneto20 li:first-child dt { left: 0; }

.keypopbox .oneto20 li:last-child dt { right: 0; }

.keypopbox .oneto20 li dl { width: 100%; height: auto; margin-top: 44px; }

.keypopbox .oneto20 li dl dt { position: absolute; top: 0; width: 50%; height: 25px; margin-top: 10px; border: 1px solid #dee3eb; box-sizing: border-box; background-color: #fff; margin-bottom: 10px; box-sizing: border-box; line-height: 23px; text-align: center; font-size: 14px; background-color: #fff; }

.keypopbox .oneto20 li dl dt.action { background-color: #F9FAFC; color: #888; }

.keypopbox .oneto20 li dl dt a { display: block; width: 100%; height: 100%; }

.keypopbox .oneto20 li dl dd { width: 100%; height: 230px; /* padding-top: 44px; box-sizing:border-box; */ }

.keypopbox .oneto20 li dl dd ol { width: 100%; height: 230px; font-size: 14px; line-height: 22px; }

.keypopbox .oneto20 li dl dd ol li { width: 100%; height: 22px; }

.keypopbox .oneto20 li dl dd ol li span { display: block; float: left; width: 30px; height: 22px; text-align: center; font-weight: bold; }

.keypopbox .oneto20 li dl dd ol li a { display: block; float: left; width: 275px; height: 22px; }

.keypopbox .oneto20 li dl dd ol li a:hover, .keypopbox .oneto20 li dl dd ol li a:focus { outline: none; text-decoration: underline; }

.keylower { float: left; width: 100%; height: 25px; margin-top: 4px; font-size: 13px; text-indent: 10px; line-height: 25px; color: #888; }

.keylower .keydate { float: left; width: auto; height: auto; }

.keylower a { float: left; }

.keylower a:hover, .keylower a:focus { transform: scale(1.1); outline: none; }

.keylower a:first-of-type { width: 20px; height: 100%; background: url("../../img/main_etc.png") no-repeat 100% 13%/900% auto; }

.keylower a:last-of-type { float: right; width: 50px; height: 100%; margin-right: 10px; background: url("../../img/main_etc.png") no-repeat 0% 94%/380% auto; }

.keylower a:last-of-type .keyarrow { display: block; position: relative; left: 0; top: 0; z-index: 5; width: 0; height: 0; }

.keylower a:last-of-type .keyarrow:before { content: " "; display: inline-block; position: absolute; top: 10px; left: 53px; border: solid #777; border-width: 0 1px 1px 0; padding: 2px; transform: rotate(-45deg); }
