@import "../_basic/var";
$url:"../../img/";

#wrap{width: 100%; min-width:1100px; height: auto; background-color: #f2f4f7;}
#headBox{width: 100%; height: 180px;}

#upperhead{width: 100%; height: 130px; border-bottom: $softLine; box-sizing: border-box; background-color: $white;}
.uphead_wrap{position:relative; width: 1080px; height: 100%; 
	margin: auto; padding: 40px 0; box-sizing: border-box;
#lnb{position:absolute; top: 10px; right: 0; width: auto; font-size: 11px;
 ul{width: auto; height: auto;
  li{float: left; margin-left: 10px;
  a{display: block; width: 100%; height: 100%;}}}}}

#lnb ul li a:hover span, #lnb ul li a:focus span{font-weight: bold;}
#lnb ul li a:hover, #lnb ul li a:focus {outline: none;}

#lnb ul li:nth-child(1) a:hover,#lnb ul li:nth-child(1) a:focus{color:inherit; text-decoration: underline;}
#lnb ul li:nth-child(1){width: 120px;}
#lnb ul li:nth-child(1) span{@include arrow;}
/* 쥬니어네이버 */
#lnb ul li:nth-child(2) a:hover span:nth-of-type(1),#lnb ul li:nth-child(2) a:focus span:nth-of-type(1){color: #01589F;}
#lnb ul li:nth-child(2) a:hover span:nth-of-type(2),#lnb ul li:nth-child(2) a:focus span:nth-of-type(2){color: #ED8A25;}
#lnb ul li:nth-child(2) a:hover span:nth-of-type(3),#lnb ul li:nth-child(2) a:focus span:nth-of-type(3){color: #E14135;}
#lnb ul li:nth-child(2) a:hover span:nth-of-type(4),#lnb ul li:nth-child(2) a:focus span:nth-of-type(4){color: #47A242;}
/* 해피빈 */
#lnb ul li:nth-child(3) a:hover span:nth-of-type(1),#lnb ul li:nth-child(3) a:focus span:nth-of-type(1){color: #36AE4B;}
#lnb ul li:nth-child(3) a:hover span:nth-of-type(2),#lnb ul li:nth-child(3) a:focus span:nth-of-type(2){color: #20983A;}



h1{float: left; width: 190px; height: 50px; margin-right: 30px;
  a{display: block; width: 100%; height: 100%;
    background:transparent url($url + 'naver_logo.png') no-repeat 50% 50% / contain;
    &:hover,&:focus{transform:scale(1.1); outline: none;}}}
.search_box{position:relative; float: left; width: 480px; height: 50px; border: 2px solid $green;
	box-sizing: border-box; background-color: $white;
form{width: 405px; height: 100%;}
fieldset{width: 100%; height: 100%;}
input{width: 100%; height: 100%; border:none; font-size: 18px;
 &:hover,&:focus{background-color: #fff; outline: none;}}}
.keyboard{position:absolute; top: 15px; right: 30px; width: 20px; height: 20px;
  button{display:block; width: 100%; height: 100%;
    background:transparent url($url + 'keyboard.png') no-repeat 50% 50% / contain;
   &:hover,&:focus{outline:none; transform:scale(1.1)}
   &.action{background:transparent url($url + 'keyboard_act.png') no-repeat 50% 50% / contain; outline: none;}}}

.autokey{position:absolute; top: 22px; right: 11px; width: 0px;height: 0px;
  border-top:5px solid $green;
  border-bottom:5px none;
  border-right: 5px solid transparent;
  border-left: 5px solid  transparent;
  &.action{transform:rotate(180deg);}
  button{display: block; width: 15px; height: 15px; transform:translate(-50%,-50%);background-color: transparent;
    &:hover,&:focus{outline: none;}}}

.search_icon{float: left; width: 50px; height: 50px; background-color: $green;
 button{display: block;  width: 100%; height: 100%;
  background:transparent url($url + 'search_icon.png') no-repeat 50% 50% / 55% auto;
 &:hover,&:focus{background-size: 70% auto; outline: none;}}}

#lowerhead{width: 100%; height: 50px; background-color: $white; border-bottom: $innerLine; box-sizing:border-box;}
.lowhead_wrap{position:relative; width: 1080px; height: 100%; margin: auto; line-height: 50px;}
#gnb{ width: 805px; height: auto;
 ul{float: left; height: auto; font-weight: bold; font-size: 16px;
 &:first-of-type{width: 330px; color:$green;
  li:nth-child(6){text-transform: capitalize;}
  li:nth-child(7) span{display:block; float:left; width: 15px; height: 15px; margin-top: 18px;
    background: url($url+"tv_icon.png") no-repeat 50% 50% / contain;}}
 &:nth-of-type(2){width: 380px;}
 	li{float: left; margin-left: 7px; padding: 0 1px;
    a:hover,a:focus{outline: none; font-style: italic;}}}
.moreBtn{position:relative; float: left; width: 70px; height: auto; margin-left: 25px;
  &:before{content: " "; position: absolute; top:15px; left: -8px;
    width: 0; height: 18px; border-left: $softLine;}
 button{display:block; float: left; width: 100%; height: 100%; margin-top: 14px; text-indent: -8px;
  background-color: transparent; color:inherit; font-size: 15px; font-weight: bold;
  span{@include arrow(40deg, -15px, 52px , 1px, 3px);}}}}
.keyword{float: right; width: 200px; height: 30px; margin-top: 10px; margin-left: 30px; overflow: hidden;
 .keymore{
  @include arrow(40deg, 10px, 180px, 1px, 3px);}
 ol{position:relative; top:-49px; left:0; width: 100%; height: auto; margin-top: -10px;
  li{width: 100%; height: 49px; line-height: 49px;
    span{display:block; float: left; width: 22px; height: 49px;
      text-align: center; font-weight: bold; color:$green;}
    p{float: left;width: 176px; height: 49px;}}}}

#contentBox{width: 1100px; height: auto; min-height: 500px; margin: auto;}
#mainConts{float:left; width: 750px; height: auto; min-height: 500px; 
	padding: 10px; box-sizing: border-box;}
.mainadv{position:relative; width: 100%; height: 120px; @include box(0);
 a{display:block; width: 100%; height: 100%; padding: 10px; box-sizing:border-box;
 background: url($url+"adv/main_adv.jpg") no-repeat 50% 50% / contain;
 &:hover,&:focus{background-size: 103% auto; outline: none;}
 .smallvideo{position: relative; width: 180px; height: 100px; padding-top: 25px; 
 	box-sizing:border-box; background-color: rgba(#333,0.7);
 	border: 1px #777 solid;
 &.action{border: 1px $green solid;}
  >.load_start{display:block; width: 52px; height: 52px; margin: auto; border-radius: 50px;
  	background: rgba(#fff,0.5) url($url+"btn_play.png") no-repeat 50% 50% / contain;}
  >span{display:none; position:absolute; left:90px; top:50px; transform:translate(-50%,-50%); z-index: 5;
    width: 52px; height: 52px; margin: auto; border-radius: 50px;
  	background-color: rgba(#fff,0.7); line-height: 50px; text-align: center;
  	font-weight: bold; color: $green; box-shadow: 0 0 5px #fff;
    font-size: 35px; text-shadow: 0 0 10px #fff;}}}}
.videopop{position: absolute; left: -52px; top: 20px; z-index: 10;
	width: 100px; height: 70px; font-size: 14px; text-align: center;
	padding: 15px 0; box-sizing:border-box; font-weight: bold;
	background: url($url+"balloon.png") no-repeat 50% 50% / auto 90%;
 p:nth-of-type(2){display: none;}
 em{color:$green; font-style: normal;}}
.video{display:none; position: absolute; left: 0; top: 0; z-index: 5; width: 1080px; height: 600px;
 .videobtn{position: absolute; top: 10px; right: -50px;}}

.newsbox{width: 100%; height: 300px;}
.keynews{width: 100%; height: 50px; @include box; line-height: 50px;
  font-size: 14px; text-align: center; font-weight: bold;
 span{@include arrow(-45deg, -27px, 76px, 1px, 3px);}}
 /* $deg:-45deg, $top:-10px, $left:115px, $bw:1px, $p:2px */
 .yhnews{float:left; width: 90px; height: 100%; 
  padding-right: 10px; 
 a:hover,a:focus{outline: none; text-decoration: underline;}}
 .yhconts{overflow:hidden; float: left; width: 390px; height: 100%;  
  ul{width: 100%; height: auto;
    li{overflow: hidden; white-space: nowrap; text-overflow:ellipsis;
      width: 95%; height: 30px; margin-top: 10px;
      text-align: left; text-indent: 20px; line-height: 30px;
      a{display: block; width: 100%; height: auto; font-weight: normal;
        &:hover,&:focus{outline: none; text-decoration: underline;}}}}}
 .yhcategory{float:right; width: 230px; height: 100%; 
  li{float:left; margin-left: 10px;
    a{color:$softT;
      &:hover,&:focus{color:#333; outline: none;}}
    &:first-child a{color:$green;
     &:hover,&:focus{text-decoration: underline;}}}}


.catnews{width: 100%; height: 240px; @include box;}
 .menulist{width: 100%; height: 48px; 
  .newsstand{width: 100px; padding-right: 5px;
     span{@include arrow(-45deg, -27px, 88px, 1px, 3px);}}
  .allpress{width: 80px; padding-right: 20px; text-align: left;} 
  .mynews{position:relative; text-transform: uppercase; color: $softT;
    a:hover{text-decoration: none; color: #333;}
    &::after,&:after{content:" "; width: 0; height: 30%;
    position: absolute; top:0; bottom:0; left:-17px; margin: auto;
    border: $sideLine1}}
  >p{float:left; height: 48px; line-height: 48px;
    font-size: 14px; text-align: center; font-weight: bold;
    a:hover,a:focus{outline: none; text-decoration: underline;}}
  >div{float:right; height: 100%;
    &.newsbtn{border-left: $sideLine1;
      .next {border-left: $sideLine1; width: 48px;
      span{@include arrow(-45deg, -4px, 8px, 2px, 5px);}}
      .prev span{@include arrow(-225deg, -4px, 14px, 2px, 5px);}
      button{display: block; width: 48px; height: 100%; 
      background-color: transparent; color: $softT;
      &:hover span:before{border: $green solid; border-width: 0 2px 2px 0; padding: 5px;}}}
    &.newsset button{width: 40px; text-align: center; line-height: 48px;
       margin-right: 10px; background-color: transparent; font-size: 0.9rem;
       text-shadow: 0 0 1px #111; color: #fff;
       &:hover{color: $softT;}}
    &.newsmenu{line-height: 48px;
      button{width: 30px; height: 100%; font-size: 0.9rem;
        background-color: transparent; color: $border; margin-left: 2px;
        &:hover{color: $softT;}
      &.act{color:#777}}}}}
  .next{float: right;}
.newsimage{width: 100%; height: 192px; border-top: solid #fff 1px;
  >li{position: relative; float:left; width: 120.5px; height: 62px;
  border-right: 1px solid $border; border-top: 1px solid $border;
  &:nth-child(6n){border-right: none;}
    a{display: flex; width: 100%; height: 100%;
      &:hover {outline: none; 
      .newshover{display: block;}}
    img{width: 70%; height: auto; margin: auto;}
    .newshover{display: none;
      position: absolute; width: 100%; height: 100%;
      padding: 18px 12px; box-sizing: border-box;
      background-color: #f7f7f7;
      div {padding: 5px; border: 1px solid $borderB;
        background-color: #fff; font-size: 0.75rem;}
     .subscribe{float: left;}
     .toread{float: left; border-left: none;}}
    
}}}


.categbox{width: 100%; height: 900px; @include box;
  .categbox_header{width: 100%; height: 45px; border-bottom: $sideLine1;}
    .categmenu{float: left; width: 45px; height: 45px; 
      border-right: $sideLine1; text-align: center; line-height: 45px;
      font-size: 1.25rem; color: #777;
      a{display: block; width: 100%; height: 100%; 
      &:hover{outline: none; color: #333;}}}
    .categlist{display:flex; float: left;
      font-size: 14px;
     li{float: left; width: auto; height: 45px;     
      &:first-child a{margin-left: 8px;}
      a{display: block; height: 29px; 
        margin-right: 6px; padding: 14px 6px 0 6px;
        color: #777; font-weight: bold;
        position: relative;
         &.act { color: #829c00 !important;
          &::after{content: " "; position: absolute;
          bottom: -2px; left:0; right:0; margin: auto;
          width: 100%; height: 0; 
          border-bottom: 3px solid #829c00; }}
       &:hover{color: #333; outline: none;}}}}
    .categbtn{float: right;
     button {width: 45px; height: 45px; background-color: transparent;
       border-left: $sideLine1;
       &:hover span:before{border: $green solid; border-width: 0 2px 2px 0; padding: 5px;}}
      .prev span{@include arrow(-225deg, -5px, 12px , 2px, 5px);}
      .next span{@include arrow(-45deg, -5px, 8px , 2px, 5px);}}
    .categcontents{ width: 100%;
      padding: 16px 0 0 16px; box-sizing: border-box;
      li{float: left; 
        width: 162px; height: 185px; margin-right: 16px;
        margin-bottom: 16px; font-size: 12px;
      &:nth-child(1){background: url($url+"category/00.png") no-repeat 50% 50% / auto 100%; padding: 16px; box-sizing: border-box;
       dl{color: $white; text-shadow: 0 0 2px #777;
        dt {margin-bottom: 15px; font-size: 20px; font-weight: bold;
         &::after{content: " "; display: block;
          width: 14px; height: 2px; background-color: #fff;
          opacity: 0.6; margin-left: 2px; margin-top: 13px;}}
        dd {float: left; margin-right: 10px; margin-bottom: 10px;
         &:nth-of-type(2n){margin-right: 0;}
         a:hover{text-decoration: underline;}}}}
      &:nth-child(2){width: 340px;
        a{height: 100%;
        div {height: 100%;
          img {height: 100%;}
          p{transform: translateY(-120%);
            padding: 8px;
            color: $white; 
            background-color: rgba(0, 0, 0, 0.3);
           span{display: block; font-weight: bold;}}
        }}}
      a {display: block; width: 100%; height: 80%;
        &:hover {outline: none;
         img{transform: scale(1.05);}
         p{text-decoration: underline;}}}
      div {height: 100%; height: 100px; overflow: hidden;
        box-shadow: 0 0 1px #333;
        img{width: 100%; transition: all 100ms ease;}}
      p{margin-top: 8px; margin-bottom: 8px; font-weight: bold;}
      .text{height: 20px; color: $softT; box-shadow: none;
         span{margin-right: 10px; position: relative;
         &::after{content: " "; position: absolute;
          top: 0; right: -6px;
          display: block; margin-top: 2px;
          width: 0; height: 12px; border-right: $sideLine;}}}
    }}}


.textadv{width: 100%; height: 150px; @include box;
 ul{width: 100%; height: 100%; padding: 30px 20px; box-sizing:border-box;
  li{float: left; width: 50%; height: 100%; font-size: 12px;
    &:nth-child(1) div{background: url($url+"adv/textadv_01.jpg") no-repeat 50% 50% / contain;}
    &:nth-child(2) div{background: url($url+"adv/textadv_02.png") no-repeat 50% 50% / contain;}
   a{display: block; width: 100%; height: 100%;
    &:hover ,&:focus {outline: none;}
    &:hover div,&:focus div{background-size: 105%;}
    &:hover dl,&:focus dl{text-decoration: underline;}}
   div{float: left; width: 170px; height: 90px;}
   p{float: left; width: 155px; height: 25px; margin-left:15px; margin-top: 5px;
    line-height: 25px; color: $green; font-weight: bold;}
   dl{float: left; width: 155px; height: 60px; margin-left:15px;
    dt{font-weight: bold; font-size: 16px;}
    dd{margin-top: 5px; word-break: keep-all; }}}}}


#sideConts{float: right; width: 350px; height: auto; min-height: 500px; 
	padding: 10px 10px 10px 0; box-sizing:border-box;}
.login{width: 100%; height: 120px; @include box(0);
 p{width: 280px; height: 30px; line-height: 30px; font-size: 12px; margin: 5px auto; color: $softT}
 div{width: 280px; height: 40px; margin: auto; margin-bottom: 10px; background-color: $green;
 	text-align: center; line-height: 40px; color: $white; border-radius:5px;
 	border: 1px solid #ddd; box-sizing:border-box;
  a{display:block; width: 100%; height: 100%; font-weight: bold; font-size: 18px;
   &:hover,&:focus{font-size: 20px; color: #fff; outline: none;}}}
 ul{width: 280px; height: 30px; margin: auto; box-sizing: border-box; font-size: 12px;
  li{float: left;
   &:nth-child(1){position:relative; margin-right: 4px;}
   &:nth-child(1):after{content: " "; display: block; position:absolute; top: 0; bottom: 0; margin: auto; left:37px;
   	width: 2px; height: 2px; border-radius: 2px; background-color: #777; }
   &:nth-child(3){float: right;}
  a:hover,a:focus{color: inherit; text-decoration: underline; outline: none;}}}}

.widget{width: 100%; height: 140px; @include box;
  .weatherwidget{width: 100%; height: 100%;
   .widgetheader{width: 100%; height: 34px;
      border-bottom: $sideLine1; line-height: 34px;
      font-size: 14px; text-align: center;
      p {float:left; margin-left: 20px;
      a:hover{outline: none; text-decoration: underline;}}
      .today{position: relative; font-weight: bold;
        &:after{content:" "; width: 0; height: 36%; 
        position: absolute; top: 0; bottom: 0;
        right: -8px; margin: auto;
        border-left: 1px solid $border;}}
      .place{font-size: 12px; color: $softT; margin-left: 16px;
        span{@include arrow(-45deg, -19px, 105px , 1px, 2px);}}
       
      div {float: right;}
      .weatherbtn{
        button{width: 33px; height: 33px;
        background-color: transparent;
        border-left: $sideLine1;
        &:hover span:before{border: $green solid; border-width: 0 1px 1px 0; padding: 3px;}}
        .next span{@include arrow(-45deg, -3px, 4px , 1px, 3px);}
        .prev span{@include arrow(-225deg, -3px, 8px , 1px, 3px);}}
      .catnum{padding-right: 10px; color: $softT;
        span {color: #333; font-weight: bold;}}}
   .widgetbody{ width: 100%; height: 74px;  
    a{display:block; width: 100%; height: 74px;
      padding: 10px; box-sizing: border-box;
    &:hover{outline: none;
     .tempicon{transform: scale(1.05);}}}
     ul{ width: 100%; 
       li{float: left; margin-left: 10px;}
       .tempicon{width: 56px; height:56px;
        background: url($url+"w_hot.gif") no-repeat 50% 100% / auto 100%;}
       .tempinfo{width: 50px; line-height: 1;
        .tempcurrent{font-size: 12px; height: 33px; padding-bottom: 5px; 
         span{font-size: 30px; vertical-align: -13px;}}
        .temp{font-size: 12px; color: $softT; 
        .templower{color: #1e96fc; margin-left: 2px;}
        .temphighter{color: #fe1a1a; margin-left: -2px;}}}
       .textcurrent{font-size: 15px; font-weight: bold;
        padding-top: 10px;}
       .dust{padding-top:7px; font-size: 12px;
        span{color: #1e96fc;}}}}
   .widgetfooter{width: 100%; padding-left: 20px; 
    font-size: 12px;
     p{float: left;
      &:nth-of-type(1){color: #1e96fc; margin-right: 10px;}
      &:nth-of-type(3){position: relative;
        margin-left:17px; color: $softT; 
        &:after{content:" "; width: 0; height: 70%; 
          position: absolute; top: 0; bottom: 0;
          left: -8px; margin: auto;
          border-left: 1px solid $border;}}}
      a:hover{outline: none; text-decoration: underline;}}}}

.sideadv{width: 100%; height: 150px; @include box;
  a{display: block; width: 100%; height: 100%;
    background-size: 100% auto; background-repeat: no-repeat; background-position: 50% 50%;
    // background: url($url+"adv/side_adv_01.jpg") no-repeat 45% 100% / auto 100%;
   &:hover,&:focus{background-size: 103% auto; outline: none;}}}

.shopping{width: 100%; height: 900px; @include box;
  .shopping_header{width: 100%; height: 45px; border-bottom: $sideLine1;
    h6{float: left; width: 80px;
      font-size: 14px; text-align: center; 
      font-weight: bold; line-height: 45px;
      a{display: block; width: 100%; height: 100%;
      &:hover{font-size: 16px; outline: none;}}}
    ul{float: right; font-size: 14px; text-align: center; 
      font-weight: bold; text-transform: uppercase;
      line-height: 45px;
     li{position: relative;
       float: left; height: 100%; color: $softT; 
      padding-left: 5px; padding-right: 5px; margin-right: 5px; 
      &.act a{color: #fb5a59 !important;
      &::after{content:" "; position:absolute; bottom: 0; left: 0;
        width: 100%; height: 3px; background-color: #fb5a59;}}
      a{display: block; width: 100%; height: 100%;
       &:hover{color: #333; outline: none;}}}}
  }
  .shopping_nav{ width: 100%; height: 36px;
    padding: 10px 16px 4px 16px; box-sizing: border-box;
    .num{float: right; margin-right: 10px;
      font-size: 12px; line-height: 34px;
      color: $softT;
     span {font-weight: bold; color: #333;}}}
  .shopping_btn{ width: 46px; height: 23px;
    float: right; border: $sideLine1;
    button{width: 23px; height: 23px;
    background-color: transparent;
    &.next{border-left: $sideLine1;}
    &:hover span:before{border: $green solid; border-width: 0 1px 1px 0; padding: 3px;}}
    .next span{@include arrow(-45deg, -4px, 0px , 1px, 3px);}
    .prev span{@include arrow(-225deg, -4px, 5px , 1px, 3px);}}
  .catnum{padding-right: 10px; color: $softT;
    span {color: #333; font-weight: bold;}}
  .shopping_contents{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%; padding: 0 16px 10px 16px; box-sizing: border-box;
    li {width: 94px; margin-bottom: 5px;
    a{display: block; width: 100%; height: 100%;
      &:hover {outline: none;
        img{transform: scale(1.1);}
        p{text-decoration: underline;}}
      div{width: 100%; height: 115px; overflow: hidden;
        img{width: 100%;}}
      p{height: 56px; padding-top: 8px; box-sizing: border-box; 
        font-size: 12px; text-align: center;
        span{display: block;}}}}}
  .shopping_text{ border-top: $sideLine1;
    div {width: 100%; height: 50px;
      padding: 18px 16px 0 16px; box-sizing: border-box;
      h6{float: left; font-size: 13px; font-weight: bold; 
        &::before{content: " ";display: block; 
         float:left; width: 3px; height: 14px; 
         margin-top:2px; margin-right: 5px;
         background-color: #8974d7; }}
      button{float: right; width: 25px; height: 25px; margin-top: -5px;
        background-color: #fff; border: $sideLine1;}}
    ul {width: 100%; padding: 16px; padding-top: 0; box-sizing: border-box;
     li{width: 100%; height: 16px; margin-top: 4px;
       a{display: block; width: 100%; height: 100%;
        &:hover {outline: none;
        dt,dd{text-decoration: underline;}}}
       dl{width: 100%; height: 16px; 
        font-size: 12px;
         dt{float: left; color: #8974d7; margin-right: 14px;}
         dd{float: left;
          span{color: #00ab33}}
       }
     }}
  }

  .mall_list{height: 60px; border-bottom: $sideLine1; 
  margin-left: 16px; margin-right: 16px; padding-top: 6px;
  box-sizing: border-box;
   ul{
     li{float:left; font-size: 12px; margin: 2px; padding: 2px 6px;
      position: relative;
      &::after{content: "·"; position: absolute;
      top: 1px; right: -3px;}
      &:nth-child(6)::after{content: " ";}
      &:nth-child(7){margin: 1px; padding: 2px 4px;}
      &:nth-child(8){margin: 1px; padding: 2px 4px;}
      &:nth-child(9){margin: 1px; padding: 2px 4px;}
      &:nth-child(10){margin: 1px; padding: 2px 4px;}
      &:nth-child(11){margin: 1px; padding: 2px 4px;}
      &:nth-child(12){margin: 1px; padding: 2px 4px;
       &::after{content: " ";}}
      a{display: block; width: 100%; height: 100%;
       &:hover{outline: none; text-decoration: underline;}}}
   }}
}

.footadv{width: 100%; height: 150px; @include box; 
  a{display: block; width: 100%; height: 100%;
    background-size: auto 100%; background-repeat: no-repeat; background-position: 45% 100%;
    // background: url($url+"adv/foot_adv_03.jpg") no-repeat 45% 100% / auto 100%;
   &:hover,&:focus{background-size: auto 103%; outline: none;}}}


#footBox{width: 100%; height: auto; background-color: #fff; font-size: 14px;
 a:hover,a:focus{ outline:none; text-decoration: underline;}}
#upperfoot{width: 100%; height: 45px; border-top: $innerLine; box-sizing:border-box;
 .upfoot_wrap{width: 1080px; height: 100%; margin: auto; line-height: 45px;
 >div{float: left;}
  .notice{@include footTx;}
  .moreserv{float: right; margin-right: 20px; @include footTx; 
   span{@include arrow(-45deg, -26px, 105px , 2px, 3px);}}}}

#lowerfoot{width: 100%; height: 110px; border-top: $softLine; box-sizing:border-box;
 .lowfoot_wrap{width: 1080px; height: 100%; margin: auto;padding: 20px 0; box-sizing:border-box;}
 .naverper{float: left; width: 730px; height: 100%;
  dl{width: 100%; height: 25px;
   dt{float:left; width: 90px;  text-transform: capitalize; @include footTx;}
   dd{float:left; position:relative;
    width: auto; color: $softT; padding: 0 15px; 
    font-size: 13px; line-height: 25px;
   &:first-of-type:after{display: none;}
   &:after{content: " "; display: block; position: absolute; 
    top:0; bottom:0; left: 0px; margin: auto;
    width: 0; height: 14px; border-right: $sideLine;}}}}/* 650px */
 .whale{position:relative; float:right; width: 200px; height: 100%; padding-left: 25px; box-sizing:border-box;
  &:after{content: " "; display: block; position: absolute; 
  top:0; bottom:0; left: 0; margin: auto;
  width: 0; height: 50px; border-right: $sideLine1;}
  dl{position:relative; width: 100%; height: 100%;
    dt{font-weight: bold;}
    .ftimg{position: absolute; top:0; right: 25px;
      width: 60px; height: 60px; 
    a{display: block; width: 100%; height: 100%;
      background: url($url+"whale_logo.png") no-repeat 50% 50% / auto 100%;
     &:hover,&:focus{transform:scale(1.1);}}}
    dd{margin-top:5px; color: $softT;}}}
 .proj{position:relative; float:right; width: 150px; height: 100%;
  &:after{content: " "; display: block; position: absolute; 
  top:0; bottom:0; left: -8px; margin: auto;
  width: 0; height: 50px; border-right: $sideLine1;}
  dl{position:relative; width: 100%; height: 100%;
    dt{font-weight: bold; text-indent: 15px}
    .ftimg{position: absolute; top:0; right: 0; 
      width: 60px; height: 60px;
    a{display: block; width: 100%; height: 100%;
      background: url($url+"project_logo.png") no-repeat 50% 50% / auto 100%;
      &:hover,&:focus{transform:scale(1.1);}}}
    dd{text-indent:15px; margin-top:5px; color: $softT;}}}}
#fnb{width: 100%; height: 150px; padding: 25px 0; box-sizing:border-box;
  border-top: $softLine;
.fnb_wrap{width: 1080px; height: 100%; margin: auto;}
ul{width: auto; margin: auto; color: $softT; 
 li{position:relative; float: left; margin-right: 20px; 
  &:nth-child(5){font-weight: bold;}
  &:nth-child(1):after{display: none;}
 &:after{content: " "; display: block; position: absolute; 
  top:0; bottom:0; left: -10px; margin: auto;
  width: 0; height: 14px; border-right: $sideLine;}}}}
.copyright{font-weight: bold; text-transform: capitalize;
  span{text-transform: uppercase;}}