@import "../_basic/var";
$url:"../../img/";

#wrap{width: 100%; min-width:1100px; height: auto; background-color: #f2f4f7;}
#headBox{width: 100%; height: 180px;}

#upperhead{width: 100%; height: 130px; border-bottom: $softLine; box-sizing: border-box; background-color: $white;}
.uphead_wrap{position:relative; width: 1080px; height: 100%; 
	margin: auto; padding: 40px 0; box-sizing: border-box;
#lnb{position:absolute; top: 10px; right: 0; width: auto; font-size: 11px;
 ul{width: auto; height: auto;
  li{float: left; margin-left: 10px;
  a{display: block; width: 100%; height: 100%;}}}}}

#lnb ul li a:hover span, #lnb ul li a:focus span{font-weight: bold;}
#lnb ul li a:hover, #lnb ul li a:focus {outline: none;}

#lnb ul li:nth-child(1) a:hover,#lnb ul li:nth-child(1) a:focus{color:inherit; text-decoration: underline;}
#lnb ul li:nth-child(1){width: 120px;}
#lnb ul li:nth-child(1) span{@include arrow;}
/* 쥬니어네이버 */
#lnb ul li:nth-child(2) a:hover span:nth-of-type(1),#lnb ul li:nth-child(2) a:focus span:nth-of-type(1){color: #01589F;}
#lnb ul li:nth-child(2) a:hover span:nth-of-type(2),#lnb ul li:nth-child(2) a:focus span:nth-of-type(2){color: #ED8A25;}
#lnb ul li:nth-child(2) a:hover span:nth-of-type(3),#lnb ul li:nth-child(2) a:focus span:nth-of-type(3){color: #E14135;}
#lnb ul li:nth-child(2) a:hover span:nth-of-type(4),#lnb ul li:nth-child(2) a:focus span:nth-of-type(4){color: #47A242;}
/* 해피빈 */
#lnb ul li:nth-child(3) a:hover span:nth-of-type(1),#lnb ul li:nth-child(3) a:focus span:nth-of-type(1){color: #36AE4B;}
#lnb ul li:nth-child(3) a:hover span:nth-of-type(2),#lnb ul li:nth-child(3) a:focus span:nth-of-type(2){color: #20983A;}



h1{float: left; width: 190px; height: 50px; margin-right: 30px;
  a{display: block; width: 100%; height: 100%;
    background:transparent url($url + 'naver_logo.png') no-repeat 50% 50% / contain;
    &:hover,&:focus{transform:scale(1.1); outline: none;}}}
.search_box{position:relative; float: left; width: 480px; height: 50px; border: 2px solid $green;
	box-sizing: border-box; background-color: $white;
form{width: 405px; height: 100%;}
fieldset{width: 100%; height: 100%;}
input{width: 100%; height: 100%; border:none; font-size: 18px;
 &:hover,&:focus{background-color: #fff; outline: none;}}}
.keyboard{position:absolute; top: 15px; right: 30px; width: 20px; height: 20px;
  button{display:block; width: 100%; height: 100%;
    background:transparent url($url + 'keyboard.png') no-repeat 50% 50% / contain;
   &:hover,&:focus{outline:none; transform:scale(1.1)}
   &.action{background:transparent url($url + 'keyboard_act.png') no-repeat 50% 50% / contain; outline: none;}}}

.autokey{position:absolute; top: 22px; right: 11px; width: 0px;height: 0px;
  border-top:5px solid $green;
  border-bottom:5px none;
  border-right: 5px solid transparent;
  border-left: 5px solid  transparent;
  &.action{transform:rotate(180deg);}
  button{display: block; width: 15px; height: 15px; transform:translate(-50%,-50%);background-color: transparent;
    &:hover,&:focus{outline: none;}}}

.search_icon{float: left; width: 50px; height: 50px; background-color: $green;
 button{display: block;  width: 100%; height: 100%;
  background:transparent url($url + 'search_icon.png') no-repeat 50% 50% / 55% auto;
 &:hover,&:focus{background-size: 70% auto; outline: none;}}}

#lowerhead{width: 100%; height: 50px; background-color: $white; border-bottom: $innerLine; box-sizing:border-box;}
.lowhead_wrap{position:relative; width: 1080px; height: 100%; margin: auto; line-height: 50px;}
#gnb{ width: 805px; height: auto;
 ul{float: left; height: auto; font-weight: bold; font-size: 16px;
 &:first-of-type{width: 330px; color:$green;
  li:nth-child(6){text-transform: capitalize;}
  li:nth-child(7) span{display:block; float:left; width: 15px; height: 15px; margin-top: 18px;
    background: url($url+"tv_icon.png") no-repeat 50% 50% / contain;}}
 &:nth-of-type(2){width: 380px;}
 	li{float: left; margin-left: 7px; padding: 0 1px;
    a:hover,a:focus{outline: none; font-style: italic;}}}
.moreBtn{position:relative; float: left; width: 70px; height: auto; margin-left: 25px;
  &:before{content: " "; position: absolute; top:15px; left: -8px;
    width: 0; height: 18px; border-left: $softLine;}
 button{display:block; float: left; width: 100%; height: 100%; margin-top: 14px; text-indent: -8px;
  background-color: transparent; color:inherit; font-size: 15px; font-weight: bold;
  span{@include arrow(40deg, -15px, 52px , 1px, 3px);}}}}
.keyword{float: right; width: 200px; height: 30px; margin-top: 10px; margin-left: 30px; overflow: hidden;
 .keymore{
  @include arrow(40deg, 10px, 180px, 1px, 3px);}
 ol{position:relative; top:-49px; left:0; width: 100%; height: auto; margin-top: -10px;
  li{width: 100%; height: 49px; /* border: 1px solid #333; */ line-height: 49px;
    span{display:block; float: left; width: 22px; height: 49px;
      text-align: center; font-weight: bold; color:$green;}
    p{float: left;width: 176px; height: 49px;}}}}

#contentBox{width: 1100px; height: auto; min-height: 500px; margin: auto;}
#mainConts{float:left; width: 750px; height: auto; min-height: 500px; 
	padding: 10px; box-sizing: border-box;}
.mainadv{position:relative; width: 100%; height: 120px; @include box(0);
 a{display:block; width: 100%; height: 100%; padding: 10px; box-sizing:border-box;
 background: url($url+"adv/main_adv.jpg") no-repeat 50% 50% / contain;
 &:hover,&:focus{background-size: 103% auto; outline: none;}
 .smallvideo{position: relative; width: 180px; height: 100px; padding-top: 25px; 
 	box-sizing:border-box; background-color: rgba(#333,0.7);
 	border: 1px #777 solid;
 &.action{border: 1px $green solid;}
  >.load_start{display:block; width: 50px; height: 50px; margin: auto; border-radius: 50px;
  	background:url($url+"btn_play.png") no-repeat 50% 50% / contain;}
  >span{display:none; position:absolute; left:90px; top:50px; transform:translate(-50%,-50%); z-index: 5;
    width: 50px; height: 50px; margin: auto; border-radius: 50px;
  	background-color: rgba(#fff,0.7); line-height: 50px; text-align: center;
  	font-weight: bold; color: $green; font-size: 35px; text-shadow: 0 0 10px #fff;}}}}
.videopop{position: absolute; left: -52px; top: 20px; z-index: 10;
	width: 100px; height: 70px; font-size: 14px; text-align: center;
	padding: 15px 0; box-sizing:border-box; font-weight: bold;
	background: url($url+"balloon.png") no-repeat 50% 50% / auto 90%;
 p:nth-of-type(2){display: none;}
 em{color:$green; font-style: normal;}}
.video{display:none; position: absolute; left: 0; top: 0; z-index: 5; width: 1080px; height: 600px;
 .videobtn{position: absolute; top: 10px; right: -50px;}}

.newsbox{width: 100%; height: 300px;}
.keynews{width: 100%; height: 50px; @include box;}
.catnews{width: 100%; height: 240px; @include box;}


.categbox{width: 100%; height: 900px; @include box;}
.textadv{width: 100%; height: 150px; @include box;
 ul{width: 100%; height: 100%; padding: 30px 20px; box-sizing:border-box;
  li{float: left; width: 50%; height: 100%; font-size: 12px;
    &:nth-child(1) div{background: url($url+"adv/textadv_01.jpg") no-repeat 50% 50% / contain;}
    &:nth-child(2) div{background: url($url+"adv/textadv_02.png") no-repeat 50% 50% / contain;}
   a{display: block; width: 100%; height: 100%;
    &:hover ,&:focus {outline: none;}
    &:hover div,&:focus div{background-size: 105%;}
    &:hover dl,&:focus dl{text-decoration: underline;}}
   div{float: left; width: 170px; height: 90px;}
   p{float: left; width: 155px; height: 25px; margin-left:15px; margin-top: 5px;
    line-height: 25px; color: $green; font-weight: bold;}
   dl{float: left; width: 155px; height: 60px; margin-left:15px;
    dt{font-weight: bold; font-size: 16px;}
    dd{margin-top: 5px; word-break: keep-all; }}}}}


#sideConts{float: right; width: 350px; height: auto; min-height: 500px; 
	padding: 10px 10px 10px 0; box-sizing:border-box;}
.login{width: 100%; height: 120px; @include box(0);
 p{width: 280px; height: 30px; line-height: 30px; font-size: 12px; margin: 5px auto; color: $softT}
 div{width: 280px; height: 40px; margin: auto; margin-bottom: 10px; background-color: $green;
 	text-align: center; line-height: 40px; color: $white; border-radius:5px;
 	border: 1px solid #ddd; box-sizing:border-box;
  a{display:block; width: 100%; height: 100%; font-weight: bold; font-size: 18px;
   &:hover,&:focus{font-size: 20px; color: #fff; outline: none;}}}
 ul{width: 280px; height: 30px; margin: auto; box-sizing: border-box; font-size: 12px;
  li{float: left;
   &:nth-child(1){position:relative; margin-right: 4px;}
   &:nth-child(1):after{content: " "; display: block; position:absolute; top: 0; bottom: 0; margin: auto; left:37px;
   	width: 2px; height: 2px; border-radius: 2px; background-color: #777; }
   &:nth-child(3){float: right;}
  a:hover,a:focus{color: inherit; text-decoration: underline; outline: none;}}}}

.widget{width: 100%; height: 140px; @include box;}
.sideadv{width: 100%; height: 150px; @include box;}
.shopping{width: 100%; height: 900px; @include box;}
.footadv{width: 100%; height: 150px; @include box; background-color: #f00;
  a{display: block; width: 100%; height: 100%;
    background: url($url+"adv/foot_adv_01.jpg") no-repeat 45% 100% / auto 100%;
   &:hover,&:focus{background-size: auto 103%; outline: none;}}}


#footBox{width: 100%; height: auto; background-color: #fff; font-size: 14px;
 a:hover,a:focus{ outline:none; text-decoration: underline;}}
#upperfoot{width: 100%; height: 45px; border-top: $innerLine; box-sizing:border-box;
 .upfoot_wrap{width: 1080px; height: 100%; margin: auto; line-height: 45px;
 >div{float: left;}
  .notice{@include footTx;}
  .moreserv{float: right; margin-right: 20px; @include footTx; 
   span{@include arrow(-45deg, -26px, 105px , 2px, 3px);}}}}

#lowerfoot{width: 100%; height: 110px; border-top: $softLine; box-sizing:border-box;
 .lowfoot_wrap{width: 1080px; height: 100%; margin: auto;padding: 20px 0; box-sizing:border-box;}
 .naverper{float: left; width: 730px; height: 100%;
  dl{width: 100%; height: 25px;
   dt{float:left; width: 90px;  text-transform: capitalize; @include footTx;}
   dd{float:left; position:relative;
    width: auto; color: $softT; padding: 0 15px; 
    font-size: 13px; line-height: 25px;
   &:first-of-type:after{display: none;}
   &:after{content: " "; display: block; position: absolute; 
    top:0; bottom:0; left: 0px; margin: auto;
    width: 0; height: 14px; border-right: $sideLine;}}}}/* 650px */
 .whale{position:relative; float:right; width: 200px; height: 100%; padding-left: 25px; box-sizing:border-box;
  &:after{content: " "; display: block; position: absolute; 
  top:0; bottom:0; left: 0; margin: auto;
  width: 0; height: 50px; border-right: $sideLine1;}
  dl{position:relative; width: 100%; height: 100%;
    dt{font-weight: bold;}
    .ftimg{position: absolute; top:0; right: 25px;
      width: 60px; height: 60px; 
    a{display: block; width: 100%; height: 100%;
      background: url($url+"whale_logo.png") no-repeat 50% 50% / auto 100%;
     &:hover,&:focus{transform:scale(1.1);}}}
    dd{margin-top:5px; color: $softT;}}}
 .proj{position:relative; float:right; width: 150px; height: 100%;
  &:after{content: " "; display: block; position: absolute; 
  top:0; bottom:0; left: -8px; margin: auto;
  width: 0; height: 50px; border-right: $sideLine1;}
  dl{position:relative; width: 100%; height: 100%;
    dt{font-weight: bold; text-indent: 15px}
    .ftimg{position: absolute; top:0; right: 0; 
      width: 60px; height: 60px;
    a{display: block; width: 100%; height: 100%;
      background: url($url+"project_logo.png") no-repeat 50% 50% / auto 100%;
      &:hover,&:focus{transform:scale(1.1);}}}
    dd{text-indent:15px; margin-top:5px; color: $softT;}}}}
#fnb{width: 100%; height: 150px; padding: 25px 0; box-sizing:border-box;
  border-top: $softLine;
.fnb_wrap{width: 1080px; height: 100%; margin: auto;}
ul{width: auto; margin: auto; color: $softT; 
 li{position:relative; float: left; margin-right: 20px; 
  &:nth-child(5){font-weight: bold;}
  &:nth-child(1):after{display: none;}
 &:after{content: " "; display: block; position: absolute; 
  top:0; bottom:0; left: -10px; margin: auto;
  width: 0; height: 14px; border-right: $sideLine;}}}}
.copyright{font-weight: bold; text-transform: capitalize;
  span{text-transform: uppercase;}}